<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Mobile Shop</title>
  </head>
  <body>

 <div th:replace="layout :: navbar"></div>
   

    <section class="image">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="img/macbook.png"  class="img-fluid img1" id="img1" >
                </div>
            </div>
        </div>

    </section>

   
   <div class="container mt-5">
		<h1>customers  of <span class="red">smartiphones</span></h1>
		<hr>
	
		
		<div class="row">
			<div class="col">

				<a class="btn btn-success" th:href="@{/customers/new}">add customer</a>
				<a class="btn btn-danger" th:href="@{/customers/delete}">delete customer</a>
				
				<table class="table table-dark table-striped mt-3">
				
					<thead>
						<tr>
							<th scope="col">ID</th>
							
							<th scope="col">name</th>
							<th scope="col">address</th>
							<th scope="col">email</th>
							<th scope="col">phoneNumber</th>
							<th scope="col">username</th>
							<th scope="col">profile</th>
							<th scope="col">actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${customers}">
							<th scope="row" th:utext="${customer.id}"></th>
							<td th:utext="${customer.name}"></td>
							<td th:utext="${customer.address}"></td>
							<td th:utext="${customer.email}"></td>
					          	<td th:utext="${customer.phoneNumber}"></td>
					          	<td th:utext="${customer.username}"></td>
					          	<td colspan ='1'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-I8IPLYObEi96L4zzQCodDO41bPhASNxZtA&usqp=CAU" alt="" border='3' height='100' width='100' /></td>
					          	
					          			<td>
					          			<a class="btn btn-primary text-white" th:href="@{/customers/{id}/view(id=${customer.id})}">Show</a>
								<a class="btn btn-success text-white" th:href="@{/customers/{id}/edit(id=${customer.id})}">Edit</a>
								<a class="btn btn-danger text-white" th:href="@{/customers/{id}/delete(id=${customer.id})}">Delete</a>
                                                                                             
					 
					          			</td>  		</tr>
					</tbody>
				</table>



			</div>

		</div>



	</div>

<div th:replace="layout :: footer"></div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

       <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
