<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Show Products</title>
  </head>
  <body>


   


   
   

    <section class="image">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="img/macbook.png"  class="img-fluid img1" id="img1" >
                </div>
            </div>
        </div>

    </section>

      

   
   
   
   
   
   <div class="container mt-5">
		<h1>show  customer</h1>
		<hr>
		<div class="row">

			<div class="col-4">

				<p>
					<b>ID:</b> <span th:text="${customer.id}"></span>
				</p>
				<p>
					<b>name:</b> <span th:text="${customer.name}"></span>
				</p>
				<p>
					<b>address:</b> <span th:text="${customer.address}"></span>
				</p>
				<p>
					<b>email:</b> <span th:text="${customer.email}"></span>
				</p>
				<p>
					<b>phoneNumber:</b> <span th:text="${customer.phoneNumber}"></span>
				</p>
                       <p>
					<b>username:</b> <span th:text="${customer.username}"></span>
				</p>

			</div>
		

		</div>
		<div class="row">
			<div class="mt-5">
				<a class="btn btn-info text-white" th:href="@{/customers}">Volver</a>
			
				
			</div>
		</div>


	</div>
              
              
              
            </div>
          </div>

      

    </div>
                       



  







   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
       <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
