<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
   

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Edit customer</title>
  </head>
  <body>


     <div th:replace="layout :: navbar"></div>


    <section class="image">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="img/macbook.png"  class="img-fluid img1" id="img1" >
                </div>
            </div>
        </div>

    </section>

      
 
  <div class="container" >
    
    	<h1>Edit  Smartphone  <span th:text="${customer.id}"></span></h1>
    
      <form th:action="@{/customers}" th:object="${customer}" method="POST">

					<input type="hidden" th:field="*{id}">
					
					
					<div class="mb-3">
						<label for="title" class="form-label">name</label>
						 <input type="text" class="form-control" id="name" th:field="*{name}">
					</div>
					
					<div class="mb-3">
					  <label for="sinopsis" class="form-label">address</label>
					  <textarea class="form-control" id="description" rows="3" th:field="*{address}"></textarea>
					</div>
					
					<div class="mb-3">
						<label for="duration" class="form-label">email</label>
						 <input type="email" class="form-control" id="email" th:field="*{email}">
					</div>
					
					<div class="mb-3">
						<label for="duration" class="form-label">password</label>
						 <input type="password" class="form-control" id="password" th:field="*{password}">
					</div>
					
					
									<div class="mb-3">
						<label for="duration" class="form-label">phoneNumber</label>
						 <input type="number" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
					</div>
					
				
								<div class="mb-3">
						<label for="duration" class="form-label">username</label>
						 <input type="text" class="form-control" id="username" th:field="*{username}">
					</div>
					
				
					
					<button type="submit" class="btn btn-success">Guardar</button>


				</form>

       


          <br>
       
       
      </div>
   

   































<div th:replace="layout :: footer"></div>
   
      
   <!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"></script>

  


</body>
</html>
