<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Mobile Shop</title>
  </head>
  <body>


   <div th:replace="layout :: navbar"></div>

    <section class="home">
    <div class="container">
    <div class="row">
        <div class="col text-center pt-5 mt-5">
         <div style="font-size: 80px; color: white;">Ecommerce Mobile</div>
        <h4 style="color: white;" class="mt-5">Buy your own custom mobile phone, tablet, TV screen or laptop</h4>
        <a class="btn btn-success btn1 mt-5 mb-5 " id="btn1" href="Edit.html" role="button">Custom Yours</a>
    </div>
    </div>
    </div>
    </section>


    <section class="image">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="img/macbook.png"  class="img-fluid img1" id="img1" >
                </div>
            </div>
        </div>

    </section>
    
	<div class="container mt-5">
		<h1>shop of <span class="red">smartiphones</span></h1>
		<hr>
		<h3>Shopcart items: <span th:utext="${shopcart_items}"></span></h3>
		<div th:if="${error}">Error</div>
		<div class="row">

			<div class="col">

				<a class="btn btn-success" th:href="@{/products/new}">add product</a>
				<a class="btn btn-danger" th:href="@{/products/delete}">delete product</a>
				
				<table class="table table-dark table-striped mt-3">
				
					<thead>
						<tr>
							<th scope="col">ID</th>
							
							<th scope="col">Title</th>
							<th scope="col">description</th>
							<th scope="col">quantity</th>
							<th scope="col">price</th>
							<th scope="col">photos</th>
							<th scope="col">actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="smartiphone: ${products}">
							<th scope="row" th:utext="${smartiphone.id}"></th>
							<td th:utext="${smartiphone.name}"></td>
							<td th:utext="${smartiphone.description}"></td>
							<td th:utext="${smartiphone.quantity}"></td>
					          	<td th:utext="${smartiphone.price}"></td>
					          	<td colspan ='1'><img src="https://fdn.gsmarena.com/imgroot/news/20/11/iphone-12-pro-bom/-1200w5/gsmarena_004.jpg" alt="" border='3' height='100' width='100' /></td>
					          	
					          			<td>
					          			<a class="btn btn-primary text-white" th:href="@{/products/{id}/view(id=${smartiphone.id})}">Show</a>
								<a class="btn btn-success text-white" th:href="@{/{id}/edit(id=${smartiphone.id})}">Edit</a>
								<a class="btn btn-danger text-white" th:href="@{/products/{id}/delete(id=${smartiphone.id})}">Delete</a>
                                    
					          				<a class="btn btn-warning text-white" th:href="@{/shopcarts/{id}/addproduct(id=${smartiphone.id})}">buy it</a>
					          			</td>  		</tr>
					</tbody>
				</table>



			</div>

		</div>



	</div>

<div th:replace="layout :: footer"></div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
</html>